{% extends "base.html" %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>

<h1>Tabla</h1>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            lista del alumno
                        </div>
                        <table style="width: 100%">
                            <tr>
                              <th>ID</th>
                              <th>Nombre</th>
                              <th>Calificación</th>
                              <th>Fecha</th>
                            </tr>
                            {% for alumno in alumnos %}
                            <tr>
                                <td>{{alumno.id_alumno}}</td>
                                <td>{{alumno.nombre}}</td>
                                <td>{{ alumno.calificacion }}</td>
                                <td>{{ alumno.fecha }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Chart</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
<!-- Content Row -->
<h1>Promedio</h1>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Average</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if promedio_calificaciones %}
                                                                                <p>El Promedio de puntaje es de: {{ promedio_calificaciones }}</p>
                                                                            {% else %}
                                                                                <p>No se encontró promedio</p>
                                                                            {% endif %}
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const datos_grafica = JSON.parse('{{ datos_grafica_json|escapejs }}');
  const ctx = document.getElementById("myAreaChart");
  const grafica = new Chart(ctx, {
    type: 'line',
    data: {
      labels: datos_grafica.map(dato => dato.id_alumno.toString()),
      datasets: [{
        label: 'Calificacion del alumno',
        data: datos_grafica.map(dato => dato.calificacion),
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
    }]
},
    options: {
      legend: {
        display: false
      },
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
          label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
          }
        }
      }
    }
  });
</script>
{% endblock %}
</html>
